body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card {
    width: 355px;
    height: 100%;
    padding: 0 30px;
    margin: 30px 20px;
    border-radius: 20px;

    background-color: var(--very-dark-blue-card);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card header .nft-img {
    width: 300px;
    height: 300px;

    border-radius: 8px;
    background-image: url(../../images/image-equilibrium.jpg);
    background-position: center;
    background-size:cover;
}

.card header .nft-img .cover-box {
    width: 100%;
    height: 100%;

    background-color: var(--cyan);
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;


    opacity: 0;
    transition: .5s;
}

.card header .nft-img .cover-box:hover {
    opacity: .5;
}

.card main a h2 {
    color: #fff;
    text-decoration: none;
    transition: .2s;
}

.card main h2:hover {
    color: var(--cyan);
}

.card main .content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card main .content p {
    color: var(--soft-blue);
}

.card main .content .data-nft {
    display: flex;
    justify-content: space-between;
    color: var(--soft-blue);
}

.card main .content .data-nft > span {
    color: var(--cyan);
}

.card footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}


.card footer .line {
    width: 100%;
    height: 1px;
    border: 1px solid var(--very-dark-blue-line);
}

.card footer .creator {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--soft-blue);
}

.card footer .creator a {
    text-decoration: none;
    color: #fff;
}

.card footer .creator a:hover {
    color: var(--cyan);
}

.card footer .creator img {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
}   


.attribution { 
    font-size: 11px; text-align: center; 
}
    
.attribution a { 
    color: var(--cyan);
}